@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #0B0E11;
  overflow-x: hidden;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
  }
}